# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# Virtual Environments
venv/
env/
.venv/

# Distribution / Packaging
build/
dist/
*.egg-info/

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
